/* Estilos para la página de confirmación de restablecimiento de contraseña */

.form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    border: 2px solid #ec6b81;
    border-radius: 10px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .form-container h2 {
    color: #ec6b81;
    margin-bottom: 15px;
  }
  
  .form-container p {
    font-size: 16px;
    color: #333;
  }
  


    /* Estilo del icono más grande */
.login-icon {
        width: 200px; /* Ancho aumentado */
        height: 200px; /* Altura aumentada */
        margin: 0 auto 20px; /* Reduce el espacio inferior */
    }