/* password_reset_done.css */
/* Contenedor general */


body {
    background: linear-gradient(120deg, #ffe0e0, #ffb3b3);
    font-family: 'Arial', sans-serif;
  }
  
  .form-container {
    max-width: 400px;
    margin: 80px auto; /* Reduce el margen superior */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
  }
  
  h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px; /* Reduce el espacio inferior */
  }
  
  p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px; /* Reduce el espacio inferior */
  }
  
  /* Estilo del icono más grande */
  .login-icon {
    width: 200px; /* Ancho aumentado */
    height: 200px; /* Altura aumentada */
    margin: 0 auto 20px; /* Reduce el espacio inferior */
  }
  