{% extends "layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset.css' %}">
<div class="login-container">
    <div class="login-box">
        <!-- Colocamos el contenedor del ícono para que aparezca centrado y arriba del formulario -->
        <div class="login-icon">
            <img src="{% static 'img/contraseñacorreo.png' %}" alt="Icono de restablecimiento de contraseña">
        </div>
        <h2>Restablecer contraseña</h2>
        <p>Ingresa tu correo electrónico para recibir un enlace de restablecimiento de contraseña.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Enviar enlace</button>
        </form>
    </div>
</div>
{% endblock %}
