{% extends "layout.html" %}
{% load static %}

{% block content %}
<style>
    /* Estilo para el historial de pedidos */
    .historial-pedidos-container {
        max-width: 900px;
        margin: 0 auto;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
    }

    .historial-pedidos-container h2 {
        font-size: 2rem;
        text-align: center;
        margin-bottom: 20px;
    }

    .pedido-item {
        background-color: #ffffff;
        border: 1px solid #ddd;
        margin-bottom: 20px;
        padding: 15px;
        border-radius: 8px;
    }

    .pedido-item h3 {
        font-size: 1.5rem;
        color: #333;
    }

    .pedido-item p {
        font-size: 1rem;
        color: #555;
        margin: 5px 0;
    }

    .pedido-item .detalles-pedido {
        background-color: #f2f2f2;
        padding: 10px;
        margin-top: 15px;
        border-radius: 8px;
    }

    .pedido-item .detalles-pedido h4 {
        font-size: 1.2rem;
        color: #444;
    }

    .detalles-pedido ul {
        list-style-type: none;
        padding-left: 0;
    }

    .detalles-pedido ul li {
        margin-bottom: 10px;
    }

    .no-pedidos {
        text-align: center;
        font-size: 1.5rem;
        color: #666;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        padding: 40px 20px;
    }

    .no-pedidos i {
        font-size: 4rem;
        color: #4a5568;
    }

    .no-pedidos p {
        font-size: 1.5rem;
        color: #4a5568;
    }
</style>

<div class="historial-pedidos-container">
    <h2>Historial de Pedidos</h2>

    {% if pedidos %}
    <ul>
        {% for pedido in pedidos %}
        <li class="pedido-item">
            <h3>Pedido #{{ pedido.id }} - Estado: {{ pedido.get_estado_display }}</h3>
            <p><strong>Fecha de Creación:</strong> {{ pedido.fecha_creacion }}</p>
            <p><strong>Total:</strong> ${{ pedido.total }}</p>
            <p><strong>Dirección de Envío:</strong> {{ pedido.direccion_envio }}</p>
            <p><strong>Detalles Adicionales:</strong> {{ pedido.detalles_adicionales }}</p>

            <div class="detalles-pedido">
                <h4>Detalles del Pedido:</h4>
                <ul>
                    {% for detalle in pedido.detalles.all %}
                    <li>
                        Producto: {{ detalle.producto.nombre_producto }} <br>
                        Cantidad: {{ detalle.cantidad }} <br>
                        Subtotal: ${{ detalle.subtotal }}
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% else %}
    <div class="no-pedidos">
        <i class="fas fa-box-open"></i>
        <p>No tienes pedidos registrados.</p>
    </div>
    {% endif %}
</div>
{% endblock %}
