<!DOCTYPE html>
<html lang="en">

    <!-- Head Section -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elegant Touch</title>
  {% load static %}
  <!--== Favicon ==-->
  <link rel="shortcut icon" href="{% static 'img/favicon-32x32.png' %}" type="image/x-icon" />
  <link rel="stylesheet" href="{% static 'path/to/your/styles.css?v=1.1' %}">

  <!--== Google Fonts ==-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
  <!--== Bootstrap CSS ==-->
  <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
  <!--== Ionicon CSS ==-->
  <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" />
  <!--== Simple Line Icon CSS ==-->
  <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" />
  <!--== Line Icons CSS ==-->
  <link href="{% static 'css/lineIcons.css' %}" rel="stylesheet" />
  <!--== Font Awesome Icon CSS ==-->
  <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
  <!--== Animate CSS ==-->
  <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
  <!--== Swiper CSS ==-->
  <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" />
  <!--== Range Slider CSS ==-->
  <link href="{% static 'css/range-slider.css' %}" rel="stylesheet" />
  <!--== Fancybox Min CSS ==-->
  <link href="{% static 'css/fancybox.min.css' %}" rel="stylesheet" />
  <!--== Slicknav Min CSS ==-->
  <link href="{% static 'css/slicknav.css' %}" rel="stylesheet" />
  <!--== Owl Carousel Min CSS ==-->
  <link href="{% static 'css/owlcarousel.min.css' %}" rel="stylesheet" />
  <!--== Owl Theme Min CSS ==-->
  <link href="{% static 'css/owltheme.min.css' %}" rel="stylesheet" />
  <!--== Spacing CSS ==-->
  <link href="{% static 'css/spacing.css' %}" rel="stylesheet" />
  <!--== Main Style CSS ==-->
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">

  <!--[if lt IE 9]>
  <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body>

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default header-style">
    <!--== Start Header Top ==-->
    <div class="header-top">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-6 text-md-start text-center">
            <p>Envíos a toda Colombia 100% seguros y garantizados</p>
          </div>
          <div class="col-md-6 text-md-end text-center mt-sm-15">
            <div class="theme-setting">
              <a class="dropdown-btn" href="#" role="button">
                Ajustes
                <i class="ion-ios-arrow-down"></i> 
              </a>
              <ul class="dropdown-content">
                {% if user.is_authenticated %}
                <li>
                    <a href="{% url 'mi_cuenta' %}">Mi cuenta</a>
                </li>
                <li>
                    <a href="{% url 'verificar' %}">Carrito</a>
                </li>
                <li>
                    <a href="{% url 'logout' %}">Cerrar_sesión</a>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'register' %}">Registrarse</a>
                </li>
                <li>
                    <a href="{% url 'login' %}">Iniciar sesión</a>
                </li>
            {% endif %}
        </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--== End Header Top ==-->

  <!--== Start Header Bottom ==-->
  <div class="header-bottom sticky-header hidden-md-down">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col col-12">
          <div class="header-align align-default">
            <div class="align-left">
              <div class="header-logo-area">
                <a href="{% url 'index' %}"></a>
                <img class="logo-principal" src="{% static 'img/logo.png' %}" alt="Logo" />
                <img class="logo-light d-none" src="{% static 'img/logo-light.png' %}" alt="Logo" />
                </a>
              </div>
              <div class="header-navigation-area hidden-md-down">
                <ul class="main-menu nav position-relative">
                  <li><a href="{% url 'index' %}">Inicio</a></li>
                  <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                  <li class="has-submenu full-width"><a href="#">Tienda</a>
                    <ul class="submenu-nav submenu-nav-mega submenu-nav-width">
                      <li class="mega-menu-item"><a href="#/" class="mega-title">Maquillaje</a>
                        <ul>
                          <li><a href="{% url 'maquillaje_rostro' %}">Maquillaje de rostro</a></li>
                          <li><a href="{% url 'maquillaje_ojos' %}">Maquillaje de ojos</a></li>
                          <li><a href="{% url 'maquillaje_labios' %}">Maquillaje de labios</a></li>
                          <li><a href="{% url 'maquillaje_anti_envejecimiento' %}">Maquillaje Anti-envejecimiento</a></li>
                          <li><a href="{% url 'maquillaje_waterproof' %}">Maquillaje waterproof</a></li>
                        </ul>
                      </li>
                      <li class="mega-menu-item"><a href="#/" class="mega-title">Cuidado de la Piel</a>
                        <ul>
                          <li><a href="{% url 'limpiadores_faciales' %}">Limpiadores faciales</a></li>
                          <li><a href="{% url 'exfoliantes_hidratantes' %}">Exfoliantes y Hidratantes faciales</a></li>
                          <li><a href="{% url 'serums_mascarillas' %}">Sérums y Mascarillas</a></li>
                          <li><a href="{% url 'protectores_cremas' %}">Protectores y cremas</a></li>
                        </ul>
                      </li>
                      <li class="mega-menu-item"><a href="#/" class="mega-title">Herramientas y Accesorios</a>
                        <ul>
                          <li><a href="{% url 'brochas_pinceles' %}">Brochas y Pinceles</a></li>
                          <li><a href="{% url 'aplicadores' %}">Esponjas y Aplicadores</a></li>
                          <li><a href="{% url 'otros_accesorios' %}">Otros Accesorios</a></li>
                        </ul>
                      </li>
                      <li class="mega-menu-item"><a href="#/" class="mega-title">Páginas individuales</a>
                        <ul>
                          <li><a href="{% url 'carrito' %}">Carrito</a></li>
                          <li><a href="{% url 'lista_de_deseos' %}">Lista de deseos</a></li>
                          <li><a href="{% url 'mi_cuenta' %}">Mi cuenta</a></li>
                          <li><a href="{% url 'login' %}">Acceso</a></li>
                          <li><a href="{% url 'register' %}">Registro</a></li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li><a href="{% url 'tips' %}">Tips</a></li>
                  <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                </ul>
              </div>
            </div>
            <div class="header-action-area float-start">
              <div class="search-content-wrap">
                <button class="btn-search">
                  <span class="icon icon-search icon-magnifier"></span>
                </button>
                <div class="btn-search-content">
                  <form action="{% url 'buscar_productos' %}" method="get">
                    <div class="form-input-item">
                        <input type="text" name="query" placeholder="Introduzca su clave de búsqueda...">
                        <button type="submit" class="btn-src">
                            <i class="icon-magnifier"></i>
                        </button>
                        
                        <div class="search-categorie">
                            <select class="form-select" name="poscats">
                                <option selected value="Todas las categorias">Todas las categorías</option>
                                <option value="Maquillaje Ojos">Maquillaje Ojos</option>
                                <option value="Maquillaje Rostro">Maquillaje Rostro</option>
                                <option value="Maquillaje Labios">Maquillaje Labios</option>
                                <option value="Maquillaje Anti Envejecimiento">Maquillaje Anti-Envejecimiento</option>
                                <option value="Maquillaje Waterproof">Maquillaje Waterproof</option>
                                <option value="Limpiadores Faciales">Limpiadores Faciales</option>
                                <option value="Exfoliantes e Hidratantes">Exfoliantes e Hidratantes</option>
                                <option value="Serums y Mascarillas">Serums y Mascarillas</option>
                                <option value="Protectores y Cremas">Protectores y Cremas</option>
                                <option value="Brochas y Pinceles">Brochas y Pinceles</option>
                                <option value="Aplicadores">Aplicadores</option>
                                <option value="Otros Accesorios">Otros Accesorios</option>
                            </select>
                        </div>
                    </div>
                </form>            
                </div>
              </div>
         
              <div class="shop-button-group">
                <div class="shop-button-item">

              </a>
            </div>


                                  


    <!--== Start Responsive Header ==-->
    <div class="responsive-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="header-item">
              <button class="btn-menu" type="button"><i class="icon-menu"></i></button>
            </div>
          </div>
          <div class="col-4">
            <div class="header-item justify-content-center">
              <div class="header-logo-area">
                <a href="{% url 'index' %}"></a>
                <img class="logo-principal" src="{% static 'img/logo.png' %}" alt="Logo" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="header-item justify-content-end">
              <button class="btn-user" onclick="window.location.href='my-account.html'"><i class="icon-user"></i></button>
              <button class="btn-cart" onclick="window.location.href='cart.html'"><i class="icon-bag"></i> <span class="item-count">2</span></button>
            </div>
          </div>

    <!--== End Responsive Header ==-->
  </header>
  <!--== End Header Wrapper ==-->

  
  <script>
    function togglePasswordVisibility() {
        const passwordField = document.getElementById('frm_pass');
        const passwordToggle = document.querySelector('.show-pass');
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            passwordToggle.textContent = 'ocultar';
        } else {
            passwordField.type = 'password';
            passwordToggle.textContent = 'mostrar';
        }
    }
</script>
</head>
<body>



  <main class="main-content">
    <section class="login-section">
      <div class="container login-conteiner" data-padding-top="62">
      
        <h2 class="login-title">Iniciar sesión</h2>
        <form method="post" class="login-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn-login">Ingresar</button>
        </form>
      
        <div class="login-options text-center mt-4">

          <a class="btn-forgot-password" href="{% url 'reset_password' %}">¿Olvidaste tu contraseña?</a>
          <br>
          <a class="btn-create-account" href="{% url 'register' %}">¿No tienes una cuenta? Crea una aquí</a>
        </div>
      </div>
    </section>
  




<script>
  function togglePasswordVisibility() {
    var passInput = document.getElementById("frm_pass");
    var passToggle = document.querySelector(".show-pass");
    if (passInput.type === "password") {
      passInput.type = "text";
      passToggle.textContent = "ocultar";
    } else {
      passInput.type = "password";
      passToggle.textContent = "mostrar";
    }
  }
</script>
    <!--== End Account Area Wrapper ==-->

           <!--== Start Contact Info Area Wrapper ==-->
           <section class="bg-black-color">
            <div class="container pt-35 pb-40">
              <div class="row">
                <div class="col-12">
                  <div class="contact-info contact-info-static">
                    <div class="row">
                      <div class="col-border col-12 col-md-4 col-sm-6 border-0">
                        <div class="info-item">
                          <div class="icon-box">
                            <i class="icon las la-phone-volume"></i>
                          </div>
                          <p>+57-321-4341900 M-F 10AM-5PM</p>
                        </div>
                      </div>
                      <div class="col-border col-12 col-md-4 col-sm-6 mt-xs-35">
                        <div class="info-item">
                          <div class="icon-box">
                            <i class="icon las la-envelope"></i>
                          </div>
                          <p>eleganttouch@gmail.com</p>
                        </div>
                      </div>
                      <div class="col-border col-12 col-md-4 col-sm-12 mt-sm-35">
                        <div class="info-item">
                          <div class="icon-box">
                            <div class="social-icons">
                              <a href="https://www.facebook.com/share/4FtAToVyknEDKXqS/?mibextid=LQQJ4d" 
                                 target="_blank" 
                                 style="color: white;text-decoration: none;">
                                <i class="la la-facebook"></i>
                              </a>
                              <a href="https://www.instagram.com/eleganttouch054/" 
                                 target="_blank" 
                                 style="color: white; text-decoration: none;">
                                <i class="la la-instagram"></i>
                              </a>
                            </div>
                          </div>
                          <p>NUESTRAS REDES SOCIALES</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </section>
          <!--== End Contact Info Area Wrapper ==-->
      <br>
        </main>
      


   <!--== Start Footer Area Wrapper ==-->
   <footer class="footer-area">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!--== Start Footer Widget Area ==-->
          <div class="footer-widget-area pb-30">
            <div class="row">
              <div class="col-lg-6">
                <div class="widget-item">
                  <div class="about-widget">
                    <div class="inner-content">
                      <div class="footer-logo">
                        <a href="{% url 'index' %}">
                          <img class="logo-light" src="{% static 'img/logo-light.png' %}" alt="Logo" />
                      </a>
                      </div>
                    </div>
                    <div class="widget-desc">
                      <p>Elegant Touch es tu tienda en línea de maquillaje, ofreciendo productos elegantes y de calidad con una experiencia de compra segura y sencilla.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="widget-item">
                  <div class="widget-menu-wrap">
                    <ul class="nav-menu">
                      <li><a href="{% url 'register' %}">Crear cuenta</a></li>
                      <li><a href="{% url 'data_request' %}">Terminos y Condiciones</a></li>
                      <li><a href="{% url 'contacto' %}">Contáctanos</a></li>
                      <li><a href="{% url 'login' %}">Iniciar Sesión</a></li>
                      <li><a href="{% url 'mi_cuenta' %}">Mi Cuenta</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Footer Widget Area ==-->
        </div>
      </div>
    </div>

  </footer>
  <!--== End Footer Area Wrapper ==-->


  
      </div>
    </div>
  </div>
  <div class="popup-product-overlay"></div>
  <button class="popup-product-close"><i class="la la-close"></i></button>
  <!--== End Popup Product  ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--=== jQuery Appear Js ===-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!--=== jQuery Fancy Box Min Js ===-->
<script src="{% static 'js/fancybox.min.js' %}"></script>
<!--=== jQuery Slick Nav Js ===-->
<script src="{% static 'js/slicknav.js' %}"></script>
<!--=== jQuery Waypoints Js ===-->
<script src="{% static 'js/waypoints.js' %}"></script>
<!--=== jQuery Owl Carousel Min Js ===-->
<script src="{% static 'js/owlcarousel.min.js' %}"></script>
<!--=== jQuery Match Height Min Js ===-->
<script src="{% static 'js/jquery-match-height.min.js' %}"></script>
<!--=== jQuery Zoom Min Js ===-->
<script src="{% static 'js/jquery-zoom.min.js' %}"></script>
<!--=== Countdown Js ===-->
<script src="{% static 'js/countdown.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'js/custom.js' %}"></script>

<script>
function myFunction() {
  var x = document.getElementById("frm_pass");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>

</body>

</html>