<!DOCTYPE html>
<html lang="en">

    <!-- Head Section -->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Elegant Touch</title>
  {% load static %}
  <!--== Favicon ==-->
  <link rel="shortcut icon" href="{% static 'img/favicon-32x32.png' %}" type="image/x-icon" />

    <!--== Google Fonts ==-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!--== Bootstrap CSS ==-->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />
    <!--== Ionicon CSS ==-->
    <link href="{% static 'css/ionicons.min.css' %}" rel="stylesheet" />
    <!--== Simple Line Icon CSS ==-->
    <link href="{% static 'css/simple-line-icons.css' %}" rel="stylesheet" />
    <!--== Line Icons CSS ==-->
    <link href="{% static 'css/lineIcons.css' %}" rel="stylesheet" />
    <!--== Font Awesome Icon CSS ==-->
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet" />
    <!--== Animate CSS ==-->
    <link href="{% static 'css/animate.css' %}" rel="stylesheet" />
    <!--== Swiper CSS ==-->
    <link href="{% static 'css/swiper.min.css' %}" rel="stylesheet" />
    <!--== Range Slider CSS ==-->
    <link href="{% static 'css/range-slider.css' %}" rel="stylesheet" />
    <!--== Fancybox Min CSS ==-->
    <link href="{% static 'css/fancybox.min.css' %}" rel="stylesheet" />
    <!--== Slicknav Min CSS ==-->
    <link href="{% static 'css/slicknav.css' %}" rel="stylesheet" />
    <!--== Owl Carousel Min CSS ==-->
    <link href="{% static 'css/owlcarousel.min.css' %}" rel="stylesheet" />
    <!--== Owl Theme Min CSS ==-->
    <link href="{% static 'css/owltheme.min.css' %}" rel="stylesheet" />
    <!--== Spacing CSS ==-->
    <link href="{% static 'css/spacing.css' %}" rel="stylesheet" />

    <!--== Main Style CSS ==-->
    <link href="{% static 'css/style.css' %}" rel="stylesheet" />

    <!--[if lt IE 9]>
    <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

  <!--== Start Header Wrapper ==-->
  <header class="header-area header-default header-style">

    <!--== Start Header Bottom ==-->
    <div class="header-bottom sticky-header hidden-md-down">
      <div class="container-fluid">
        <div class="row align-items-center">
          <div class="col col-12">
            <div class="header-align align-default">
              <div class="align-left">
                <div class="header-logo-area">
                  <a href="{% url 'index' %}"></a>
                  <img class="logo-principal" src="{% static 'img/logo.png' %}" alt="Logo" />
                  <img class="logo-light d-none" src="{% static 'img/logo-light.png' %}" alt="Logo" />
                  </a>
                </div>
                <div class="header-navigation-area hidden-md-down">
                  <ul class="main-menu nav position-relative">
                    <li><a href="{% url 'index' %}">Inicio</a></li>
                    <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                    <li class="has-submenu full-width"><a href="#">Tienda</a>
                      <ul class="submenu-nav submenu-nav-mega submenu-nav-width">
                        <li class="mega-menu-item"><a href="#/" class="mega-title">Maquillaje</a>
                          <ul>
                            <li><a href="{% url 'maquillaje_rostro' %}">Maquillaje de rostro</a></li>
                            <li><a href="{% url 'maquillaje_ojos' %}">Maquillaje de ojos</a></li>
                            <li><a href="{% url 'maquillaje_labios' %}">Maquillaje de labios</a></li>
                            <li><a href="{% url 'maquillaje_anti_envejecimiento' %}">Maquillaje Anti-envejecimiento</a></li>
                            <li><a href="{% url 'maquillaje_waterproof' %}">Maquillaje waterproof</a></li>
                          </ul>
                        </li>
                        <li class="mega-menu-item"><a href="#/" class="mega-title">Cuidado de la Piel</a>
                          <ul>
                            <li><a href="{% url 'limpiadores_faciales' %}">Limpiadores faciales</a></li>
                            <li><a href="{% url 'exfoliantes_hidratantes' %}">Exfoliantes y Hidratantes faciales</a></li>
                            <li><a href="{% url 'serums_mascarillas' %}">Sérums y Mascarillas</a></li>
                            <li><a href="{% url 'protectores_cremas' %}">Protectores y cremas</a></li>
                          </ul>
                        </li>
                        <li class="mega-menu-item"><a href="#/" class="mega-title">Herramientas y Accesorios</a>
                          <ul>
                            <li><a href="{% url 'brochas_pinceles' %}">Brochas y Pinceles</a></li>
                            <li><a href="{% url 'aplicadores' %}">Esponjas y Aplicadores</a></li>
                            <li><a href="{% url 'otros_accesorios' %}">Otros Accesorios</a></li>
                          </ul>
                        </li>
                        <li class="mega-menu-item"><a href="#/" class="mega-title">Páginas individuales</a>
                          <ul>
                            <li><a href="{% url 'carrito' %}">Carrito</a></li>
                            <li><a href="{% url 'lista_de_deseos' %}">Lista de deseos</a></li>
                            <li><a href="{% url 'mi_cuenta' %}">Mi cuenta</a></li>
                            <li><a href="{% url 'login' %}">Acceso</a></li>
                            <li><a href="{% url 'register' %}">Registro</a></li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                    <li><a href="{% url 'contacto' %}">Contactanos</a></li>
                    {% if user.is_staff  %} 
                      <li>    
                        <li><a href="{% url 'index_admi' %}">Panel admin</a></li>

                      </li>
                    {% endif %}  
                  </ul>
                </div>
              </div>
              <div class="header-action-area float-start">
                <div class="search-content-wrap">
                  <button class="btn-search">
                    <span class="icon icon-search icon-magnifier"></span>
                  </button>
                  <div class="btn-search-content">
                    <form action="{% url 'buscar_productos' %}" method="get">
                      <div class="form-input-item">
                          <input type="text" name="query" placeholder="Introduzca su clave de búsqueda...">
                          <button type="submit" class="btn-src">
                              <i class="icon-magnifier"></i>
                          </button>
                          
                          <div class="search-categorie">
                              <select class="form-select" name="poscats">
                                  <option selected value="Todas las categorias">Todas las categorías</option>
                                  <option value="Maquillaje Ojos">Maquillaje Ojos</option>
                                  <option value="Maquillaje Rostro">Maquillaje Rostro</option>
                                  <option value="Maquillaje Labios">Maquillaje Labios</option>
                                  <option value="Maquillaje Anti Envejecimiento">Maquillaje Anti-Envejecimiento</option>
                                  <option value="Maquillaje Waterproof">Maquillaje Waterproof</option>
                                  <option value="Limpiadores Faciales">Limpiadores Faciales</option>
                                  <option value="Exfoliantes e Hidratantes">Exfoliantes e Hidratantes</option>
                                  <option value="Serums y Mascarillas">Serums y Mascarillas</option>
                                  <option value="Protectores y Cremas">Protectores y Cremas</option>
                                  <option value="Brochas y Pinceles">Brochas y Pinceles</option>
                                  <option value="Aplicadores">Aplicadores</option>
                                  <option value="Otros Accesorios">Otros Accesorios</option>
                              </select>
                          </div>
                      </div>
                  </form>            
                  </div>
                </div>
           
  
    <!--== Start Responsive Header ==-->
    <div class="responsive-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-4">
            <div class="header-item">
              <button class="btn-menu" type="button"><i class="icon-menu"></i></button>
            </div>
          </div>
          <div class="col-4">
            <div class="header-item justify-content-center">
              <div class="header-logo-area">
                <a href="{% url 'index' %}"></a>
                  <img class="logo-main" src="static/img/logo.png" alt="Logo" />
                </a>
              </div>
            </div>
          </div>
          <div class="col-4">
            <div class="header-item justify-content-end">
              <button class="btn-user" onclick="window.location.href='my-account.html'"><i class="icon-user"></i></button>
              <button class="btn-cart" onclick="window.location.href='cart.html'"><i class="icon-bag"></i> <span class="item-count">2</span></button>
            </div>
          </div>
    <!--== End Responsive Header ==-->
  </header>
  <!--== End Header Wrapper ==-->

    <!--== Start About Area Wrapper ==-->
    <section class="about-area about-page-area">
      <div class="container">
        <div class="row about-page-wrap">
          <div class="col-md-6">
            <div class="about-content">
              <h3 class="title" style="color: #ff4d7d ;">Elegant Touch, creamos cosas increíbles con grandes experiencias.</h3>
              <p>En Elegant Touch, somos apasionados por la belleza y el cuidado personal. Nos dedicamos a ofrecer productos de alta calidad que realzan la confianza y el estilo de cada persona. Desde diferentes laboratorios hasta tus manos, cada artículo es elaborado con atención al detalle, innovación y un profundo amor por el arte del maquillaje. Nos enorgullece ser la marca que empodera a quienes buscan expresar su individualidad con un toque de elegancia. ¡Bienvenidos a Elegant Touch, donde tu belleza es nuestra inspiración!</p>
              <a class="btn-theme" href="{% url 'contacto' %}">Contactanos</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="about-thumb">
              <img src="{% static 'img/about/nosotros_01.jpg' %}" alt="Image-HasTech" class="img">
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End About Area Wrapper ==-->

    <!--== Start Feature Area Wrapper ==-->
    <div class="feature-area feature-about-area position-relative z-index-1">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-4">
            <div class="feature-icon-box-style2">
              <div class="inner-content">
                <div class="icon-box">
                  <img src="{% static 'img/icons/f01.png' %}" alt="Image-HasTech" class="icon-img">
                </div>
                <div class="content">
                  <h5 class="title"style="color: black;" >Envío nacional</h5>
                  <p>Disfruta de envío a nivel nacional en todos los productos y recibe tu compra cómodamente en casa, sin importar dónde te encuentres.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-icon-box-style2">
              <div class="inner-content">
                <div class="icon-box">
                  <img src="{% static 'img/icons/f02.png' %}" alt="Image-HasTech" class="icon-img">
                </div>
                <div class="content">
                  <h5 class="title" style="color: black;" >Soporte en línea</h5>
                  <p>Para satisfacer a nuestros clientes, <br>intentamos brindar soporte en línea</p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 col-lg-4">
            <div class="feature-icon-box-style2">
              <div class="inner-content">
                <div class="icon-box">
                  <img src="{% static 'img/icons/f03.png' %}" alt="Image-HasTech" class="icon-img">
                </div>
                <div class="content">
                  <h5 class="title" style="color: black;">Pago Seguro</h5>
                  <p>Nos aseguramos de que nuestros productos<br>sean de buena calidad en todo momento</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="shape-group">
        <div class="shape-img1">
          <img src="static/img/shape/01.png" alt="Image">
        </div>
        <div class="shape-img2">
          <img src="static/img/shape/02.png" alt="Image">
        </div>
      </div>
    </div>
    <!--== End Feature Area Wrapper ==-->

    <br>
    <!--== Start Contact Info Area Wrapper ==-->
    <section class="bg-black-color">
      <div class="container pt-35 pb-40">
        <div class="row">
          <div class="col-12">
            <div class="contact-info contact-info-static">
              <div class="row">
                <div class="col-border col-12 col-md-4 col-sm-6 border-0">
                  <div class="info-item">
                    <div class="icon-box">
                      <i class="icon las la-phone-volume"></i>
                    </div>
                    <p>+57-321-4341900 M-F 10AM-5PM</p>
                  </div>
                </div>
                <div class="col-border col-12 col-md-4 col-sm-6 mt-xs-35">
                  <div class="info-item">
                    <div class="icon-box">
                      <i class="icon las la-envelope"></i>
                    </div>
                    <p>eleganttouch054@gmail.com</p>
                  </div>
                </div>
                <div class="col-border col-12 col-md-4 col-sm-12 mt-sm-35">
                  <div class="info-item">
                    <div class="icon-box">
                      <div class="social-icons">
                        <a href="https://www.facebook.com/share/4FtAToVyknEDKXqS/?mibextid=LQQJ4d"><i class="la la-facebook"></i></a>
                        <a href="https://www.instagram.com/eleganttouch054/" target="_blank"><i class="la la-instagram"></i></a>
                      </div>
                    </div>
                    <p>NUESTRAS REDES SOCIALES</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Contact Info Area Wrapper ==-->
  </main>

  <!--== Start Side Menu ==-->
  <aside class="off-canvas-wrapper">
    <div class="off-canvas-inner">
      <div class="off-canvas-overlay"></div>
      <!-- Start Off Canvas Content Wrapper -->
      <div class="off-canvas-content">
        <!-- Off Canvas Header -->
        <div class="off-canvas-header">
          <div class="close-action">
            <button class="btn-menu-close">Menu<i class="icon-arrow-left"></i></button>
          </div>
        </div>

        <div class="off-canvas-item">
          <!-- Start Mobile Menu Wrapper -->
          <div class="res-mobile-menu menu-active-one">
            <!-- Note Content Auto Generate By Jquery From Main Menu -->
          </div>
          <!-- End Mobile Menu Wrapper -->
        </div>
      </div>
      <!-- End Off Canvas Content Wrapper -->
    </div>
  </aside>
  <!--== End Side Menu ==-->

  <!--== Start Popup Product  ==-->
  <div class="popup-product-quickview">
    <div class="product-single-item">
      <div class="row">
        <div class="col-md-6">
          <!--== Start Product Thumbnail Area ==-->
          <div class="product-thumb">
            <div class="swiper-container single-product-thumb-content single-product-thumb-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <a href="#/">
                    <img src="{% static 'img/shop/product-single/05.jpg' %}" alt="Image-HasTech">
                    <span class="product-flag-new">Nuevo</span>
                  </a>
                </div>
                <div class="swiper-slide">
                  <a href="#/">
                    <img src="{% static 'img/shop/product-single/06.jpg' %}" alt="Image-HasTech">
                    <span class="product-flag-new">Nuevo</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="swiper-container single-product-nav-content single-product-nav-slider">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <img src="static/img/shop/product-single/nav-05.jpg" alt="Image-HasTech">
                </div>
                <div class="swiper-slide">
                  <img src="static/img/shop/product-single/nav-06.jpg" alt="Image-HasTech">
                </div>
              </div>
            </div>
          </div>
          <!--== End Product Thumbnail Area ==-->
        </div>
        <div class="col-md-6">
          <!--== Start Product Info Area ==-->
          <div class="product-single-info mt-sm-70">
            <h1 class="title">Water And Wind Resistant Insulated Jacket</h1>
            <div class="product-info">
              <div class="star-content">
                <i class="ion-md-star"></i>
                <i class="ion-md-star"></i>
                <i class="ion-md-star"></i>
                <i class="ion-md-star"></i>
                <i class="ion-md-star icon-color-gray"></i>
              </div>
              <ul class="comments-advices">
                <li><a href="#/" class="reviews"><i class="fa fa-commenting-o"></i>Leer reseñas (1)</a></li>
                <li><a href="#/" class="comment"><i class="fa fa-pencil-square-o"></i>Escribe una reseña</a></li>
              </ul>
            </div>
            <div class="prices">
              <span class="price">€14.52</span>
              <div class="tax-label">Impuesto incluido</div>
            </div>
            <div class="product-description">
              <ul class="product-desc-list">
                <li>Stay ready for a change in weather with the IZOD® Water and Wind Resistant Insulated Jacket.</li>
                <li>Mantente preparado para un cambio de clima con la Chaqueta Aislante Resistente al Agua y al Viento de IZOD®.</li>
                <li>La chaqueta resistente al agua te mantiene cálido y seco.</li>
                <li>El cuello alto cuenta con una capucha incorporada.</li>
                <li>Cierre frontal con cremallera.</li>
              </ul>
            </div>
            <div class="product-quick-action">
              <div class="product-quick-qty">
                <div class="pro-qty">
                  <input type="text" id="quantity" title="Quantity" value="1">
                </div>
              </div>
              <a class="btn-product-add" href="single-product.html">Añadir al carrito</a>
            </div>
            <div class="product-wishlist-compare">
              <a href="#" class="btn-wishlist"><i class="icon-heart"></i>Añadir a la lista de deseos</a>
              <a href="#" class="btn-compare"><i class="icon-shuffle"></i>Añadir a comparar</a>
            </div>
            <div class="social-sharing">
              <span>Compartir</span>
              <div class="social-icons">
                <a href="#/"><i class="la la-facebook"></i></a>
                <a href="#/"><i class="la la-twitter"></i></a>
              </div>
            </div>
          </div>
          <!--== End Product Info Area ==-->
        </div>
      </div>
    </div>
  </div>
  <div class="popup-product-overlay"></div>
  <button class="popup-product-close"><i class="la la-close"></i></button>
  <!--== End Popup Product  ==-->
</div>

<!--=======================Javascript============================-->

<!--=== Modernizr Min Js ===-->
<script src="{% static 'js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--=== jQuery Appear Js ===-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!--=== jQuery Swiper Min Js ===-->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!--=== jQuery Fancy Box Min Js ===-->
<script src="{% static 'js/fancybox.min.js' %}"></script>
<!--=== jQuery Slick Nav Js ===-->
<script src="{% static 'js/slicknav.js' %}"></script>
<!--=== jQuery Waypoints Js ===-->
<script src="{% static 'js/waypoints.js' %}"></script>
<!--=== jQuery Owl Carousel Min Js ===-->
<script src="{% static 'js/owlcarousel.min.js' %}"></script>
<!--=== jQuery Match Height Min Js ===-->
<script src="{% static 'js/jquery-match-height.min.js' %}"></script>
<!--=== jQuery Zoom Min Js ===-->
<script src="{% static 'js/jquery-zoom.min.js' %}"></script>
<!--=== Countdown Js ===-->
<script src="{% static 'js/countdown.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'js/custom.js' %}"></script>

</body>

</html>