{% extends "layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_complete.css' %}">
  <div class="form-container">
    <div class="login-icon">
      <img src="{% static 'img/contraseñacambiada.png' %}" alt="Icono de restablecimiento de contraseña">
  </div>
    <h2>Contraseña restablecida</h2>
    <p>Tu contraseña ha sido cambiada exitosamente. Ya puedes iniciar sesión con tu nueva contraseña.</p>
  </div>
{% endblock %}