{% extends "layout.html" %}
{% load static %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/password_reset_confirm.css' %}">
  <div class="form-container">
    <div class="login-icon">
      <img src="{% static 'img/escribircontraseña.png' %}" alt="Icono de restablecimiento de contraseña">
  </div>
    <h2>Ingresa una nueva contraseña</h2>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn btn-primary">Restablecer contraseña</button>
    </form>
  </div>
{% endblock %}